@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  min-width: 320px;
  margin: 0 auto;
}

h1, h2 {
  color: #2c316e;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.125;
  min-height: 1em;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.125;
  min-height: 1em;
}

p {
  font-size: 1.25rem;
  line-height: 1.625;
  color: #4c515d;
}

strong {
  font-weight: 600;
}

/* HERO SECTION */
.hero {
  min-height: 100vh;
  background-color: #484e9c;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3vw 2vw;
}

.hero-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-images div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-images div img {
  width: 100%;
}

.hero-logo {
  max-width: 300px;
}

.hero-illustration {
  max-width: 100%;
}

.hero-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-copy h1 span {
  color: #01e9c2;
}

.hero-button {
  width: 100%;
}

.hero-button button {
  width: 100%;
  padding: 20px 48px;
  background-color: #01e9c2;
  color: #2c316e;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.25s ease-in-out;
}

.hero-button button:hover {
  cursor: pointer;
  background-color: rgb(1, 182, 152);
}

/* CLOUD SECTION */
.cloud {
  background-color: #f2f4f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 6vw 1vw;
}

.cloud h2 {
  text-align: center;
}

.cloud-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cloud-image img {
  width: 100%;
  max-width: 300px;
}

.cloud-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cloud-copy p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.cloud-copy p:nth-child(3) {
  margin-bottom: 0;
}

.cloud-button {
  width: fit-content;
}

.cloud-button button {
  width: 100%;
  padding: 20px 48px;
  background-color: #01e9c2;
  color: #2c316e;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: all 0.25s ease-in-out;
}

.cloud-button button:hover {
  cursor: pointer;
  background-color: rgb(1, 182, 152);
}

/* UTILITIES */
.grid {
  display: grid;
}

.hero .grid-2 {
  width: 90%;
  grid-template-columns: 2fr 3fr;
}

.cloud .grid-2 {
  width: 90%;
  grid-template-columns: 3fr 5fr;
}

.padding {
  padding: 1vw;
}

.white {
  color: #fff !important;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  h1 {
    font-size: 1.875rem !important;
  }

  h2 {
    font-size: 1.6875rem !important;
  }

  p {
    font-size: 1.125rem !important;
  }

  button {
    font-size: 1rem !important
  }

  /* HERO */
  .hero-button button {
    font-size: 1rem;
  }

  /* CLOUD */
  .cloud h2 {
    padding: 3vw;
  }

  /* UTILITIES */
  .hero .grid-2 {
    grid-template-columns: 1fr;
  }

  .cloud .grid-2 {
    grid-template-columns: 1fr;
  }

  .padding {
    padding: 2vw;
  }
}
